<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>
        <aside id="sidebar">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about_us.html">About Us</a>
              <ul>
                <li><a href="/hashing_101.html">Hashing 101</a></li>
                <li><a href="/our_mission.html">Our Mission</a></li>
              </ul>
            </li>
            <li><a href="/weekly_hashes.html">Weekly Hashes</a></li>
            <li>Events
              <ul>
                <li><a href="/upcoming_events.html">Upcoming Events</a></li>
                <li><a href="/race_results.html">Race Results</a></li>
              </ul>
            </li>
            <li><a href="/photos.html">Photos</a></li>
            <li><a href="/videos.html">Videos</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </aside>
      </div>
    </div>
  </body>
</html>
